@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin break($args...) {
	@if length($args) == 1 {
		@media (min-width: nth($args, 1)) {
			@content;
		}
	}
	@if length($args) == 2 {
		@media (min-width: nth($args, 1)) and (max-width: nth($args, 2)) {
			@content;
		}
	}
}

