.site-header {
  position: relative;
  padding-bottom: 8px;
  @include break(768px) { padding-bottom: 13px; }
  &::after {
    content: '';
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    background: linear-gradient(to right, $secondary, $primary);
    @include break(768px) { height: 13px; }
  }
}

.navbar {
  margin: auto;  
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  @include break(992px) {
    padding: 0 15px;
    max-width: 1700px;
  }

  &.mobile-menu {
      @include position(fixed, $top: 0, $left: auto, $right: 0, $bottom: 0);
      width: 80%;
      display: block;
      border-left: 1px solid $color-grey-light;
      @include break(992px) { display: none; }
  }
}

.navbar-brand {
  padding: 0;
  img { height: 35px; }
  @include break(768px) { img { height: auto; } }  
}

.navbar-expand-lg { justify-content: space-between; }

.navbar-collapse {
  @include break(992px, 1199px) { justify-content: space-around; }
  @include break(992px) { flex-grow: 0; }
}

.navbar {
  .form-inline {    
    @include break(992px) { margin-right: 20px; }
    @include break(1200px) { margin-right: 50px; }
  }
  .form-control {
    margin-right: 0 !important;
    background: #f2f3f5;
    border: none;
    border-radius: 5px 0 0 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    @include break(992px, 1199px) { display: none; }
    @include break(1400px) { width: 300px; }
    @include break(1600px) { width: 500px; }
    &:placeholder {
      color: #a1a7b3;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  button[type="submit"] {
    background: #f2f3f5;
    border: none;
    color: #ffbc27;
    border-radius: 0 5px 5px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    @include break(992px, 1199px) { border-radius: 5px; }
  }
  .log-in-btn {
    border: 2px solid #ffbc27;
    color: #ffbc27;
    padding: 5px 10px;
    font-weight: bold;
    @include break(992px) { margin-left: 20px; }
    @include break(1200px) { margin-left: 50px; }
    &:hover {
      text-decoration: none;
    }
  }
  .navbar-nav li {
    a.nav-link {
      position: relative;
      padding: 25px 0;
      margin: 0 10px;
    }
    a:focus, a:hover { background: none; }
  }
}

#magic-line {
  @include position(absolute, $top: -1px, $left: 0);  
  width: 100px;
  height: 8px;
  background: $primary;
}

.site-container {
    transition: all ease .5s;
    background: #fff;
    position: relative;
    z-index: 999;
}